In [1]:
import pandas as pd

In [2]:
people = {
    'first' : ['Alex', 'Donald', 'Phillipa', 'Jane', 'John', 'Alan'],
    'last' : ['McIntosh', 'Smith', 'Jones', 'Baker', 'Doe', 'Doe'],
    'email' : ['alexmc124@gmail.com','donald88@aol.com','philjones@gmail.com','janebaker@aol.com', 'JohnDoe@email.com', 'AlanDoe@email.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first      last                email
0      Alex  McIntosh  alexmc124@gmail.com
1    Donald     Smith     donald88@aol.com
2  Phillipa     Jones  philjones@gmail.com
3      Jane     Baker    janebaker@aol.com
4      John       Doe    JohnDoe@email.com
5      Alan       Doe    AlanDoe@email.com

   df

In [5]:
df

      first      last                email
0      Alex  McIntosh  alexmc124@gmail.com
1    Donald     Smith     donald88@aol.com
2  Phillipa     Jones  philjones@gmail.com
3      Jane     Baker    janebaker@aol.com
4      John       Doe    JohnDoe@email.com
5      Alan       Doe    AlanDoe@email.com

In [6]:
df['last'] == 'McIntosh'

0     True
1    False
2    False
3    False
4    False
5    False
Name: last, dtype: bool

In [7]:
filt = (df['last'] == 'McIntosh')

In [8]:
df[filt]

  first      last                email
0  Alex  McIntosh  alexmc124@gmail.com

In [9]:
df.loc[filt,'email']

0    alexmc124@gmail.com
Name: email, dtype: object

In [10]:
# AND and OR operators 
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt]

  first last              email
4  John  Doe  JohnDoe@email.com

In [11]:
# the NOT operator 
df.loc[~filt, 'email']

0    alexmc124@gmail.com
1       donald88@aol.com
2    philjones@gmail.com
3      janebaker@aol.com
5      AlanDoe@email.com
Name: email, dtype: object