In [1]:
people = {
    'first' : ['Alex', 'Donald', 'Phillipa', 'Jane'],
    'last' : ['McIntosh', 'Smith', 'Jones', 'Baker'],
    'email' : ['alexmc124@gmail.com','donald88@aol.com','philjones@gmail.com','janebaker@aol.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first      last                email
0      Alex  McIntosh  alexmc124@gmail.com
1    Donald     Smith     donald88@aol.com
2  Phillipa     Jones  philjones@gmail.com
3      Jane     Baker    janebaker@aol.com

In [5]:
df['email']

0    alexmc124@gmail.com
1       donald88@aol.com
2    philjones@gmail.com
3      janebaker@aol.com
Name: email, dtype: object

In [6]:
df.email

0    alexmc124@gmail.com
1       donald88@aol.com
2    philjones@gmail.com
3      janebaker@aol.com
Name: email, dtype: object

In [7]:
df[['last','email']]

       last                email
0  McIntosh  alexmc124@gmail.com
1     Smith     donald88@aol.com
2     Jones  philjones@gmail.com
3     Baker    janebaker@aol.com

In [8]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [9]:
df.iloc[0]

first                   Alex
last                McIntosh
email    alexmc124@gmail.com
Name: 0, dtype: object